<%= render Admin::DashboardHeader::Component.new(title: "Dashboard") %>

<%= render Admin::DashboardContainer::Component.new do |container| %>
  <div class="row my-3">
    <div class="col-6">
      <%= render Admin::DashboardCard::Component.new(title: "Media") do |card| %>
        <% card.with_link(name: "Links", url: admin_links_path, policy: Link) %>
      <% end %>
    </div>

    <div class="col-6">
      <%= render Admin::DashboardCard::Component.new(title: "People") do |card| %>
        <% card.with_link(name: "Contacts", url: admin_contacts_path, policy: Contact) %>
      <% end %>
  </div>

  <div class="row">
    <div class="col-6">
      <%= render Admin::DashboardCard::Component.new(title: "Tasks") do |card| %>
        <% card.with_link(name: "Contacts", url: admin_links_path, policy: Contact) %>
      <% end %>
    </div>

    <div class="col-6">
      <%= render Admin::DashboardCard::Component.new(title: "Development") do |card| %>
        <% card.with_link(name: "KC Tennis (Staging)", url: 'https://staging.kc.tennis', new_window: true) %>
        <% card.with_link(name: "KC Tennis (Production)", url: 'https://www.kc.tennis', new_window: true) %>
        <% card.with_link(name: "Blazer", url: admin_blazer_path, new_window: true) %>
        <% card.with_link(name: "Data Logs", url: admin_data_logs_path, policy: DataLog) %>
        <% card.with_link(name: "GoodJob Dashboard", url: admin_good_job_path, new_window: true) %>
        <% card.with_link(name: "Heroku Datastores", url: 'https://data.heroku.com', new_window: true) %>
        <% card.with_link(name: "Heroku Pipeline", url: 'https://dashboard.heroku.com/pipelines/af2038da-a8c8-4dfd-966d-dd4c9489ed5c', new_window: true) %>
        <% card.with_link(name: "Honeybadger (Staging)", url: 'https://app.honeybadger.io/projects/129221/install/rails', new_window: true) %>
        <% card.with_link(name: "Issues (GitHub)", url: 'https://github.com/wrburgess/kc-tennis/issues', new_window: true) %>
        <% card.with_link(name: "Maintenance Tasks", url: admin_maintenance_tasks_path, new_window: true) %>
        <% card.with_link(name: "PG Hero", url: admin_pg_hero_path, new_window: true) %>
        <% card.with_link(name: "Postmark (Development)", url: 'https://account.postmarkapp.com/servers/14845165/streams', new_window: true) %>
        <% card.with_link(name: "Postmark (Production)", url: 'https://account.postmarkapp.com/servers/14845162/streams', new_window: true) %>
        <% card.with_link(name: "Postmark (Staging)", url: 'https://account.postmarkapp.com/servers/14845167/streams', new_window: true) %>
        <% card.with_link(name: "Papertrail (Staging)", url: 'https://my.papertrailapp.com/systems/kc-tennis-staging/events', new_window: true) %>
        <% card.with_link(name: "Projects (GitHub)", url: 'https://github.com/wrburgess/kc-tennis/projects', new_window: true) %>
        <% card.with_link(name: "Source Control (GitHub)", url: 'https://github.com/wrburgess/kc-tennis', new_window: true) %>
        <% card.with_link(name: "UptimeRobot: Staging", url: "https://dashboard.uptimerobot.com/monitors/798151118", new_window: true) %>
        <% card.with_link(name: "System Users", url: admin_users_path, policy: User) %>
      <% end %>
    </div>

    <div class="col-6">
      <%= render Admin::DashboardCard::Component.new(title: "Tool Refs") do |card| %>
        <% card.with_link(name: "Blazer", url: 'https://github.com/ankane/blazer', new_window: true) %>
        <% card.with_link(name: "Bootstrap", url: 'https://getbootstrap.com/', new_window: true) %>
        <% card.with_link(name: "Devise", url: 'https://github.com/heartcombo/devise', new_window: true) %>
        <% card.with_link(name: "GoodJob", url: 'https://github.com/bensheldon/good_job', new_window: true) %>
        <% card.with_link(name: "Node", url: 'https://nodejs.org/en', new_window: true) %>
        <% card.with_link(name: "PG Hero", url: 'https://github.com/ankane/pghero', new_window: true) %>
        <% card.with_link(name: "PostgreSQL", url: 'https://www.postgresql.org/', new_window: true) %>
        <% card.with_link(name: "Puma", url: 'https://puma.io/', new_window: true) %>
        <% card.with_link(name: "Pundit", url: 'https://github.com/varvet/pundit', new_window: true) %>
        <% card.with_link(name: "Ransack", url: 'https://activerecord-hackery.github.io/ransack/', new_window: true) %>
        <% card.with_link(name: "Rspec", url: 'https://rspec.info/', new_window: true) %>
        <% card.with_link(name: "Ruby on Rails", url: 'https://rubyonrails.org/', new_window: true) %>
        <% card.with_link(name: "Ruby", url: 'https://www.ruby-lang.org/en/', new_window: true) %>
        <% card.with_link(name: "Simple Form", url: 'https://github.com/heartcombo/simple_form', new_window: true) %>
        <% card.with_link(name: "Tailwind", url: "https://tailwindcss.com/", new_window: true) %>
        <% card.with_link(name: "Yarn", url: 'https://yarnpkg.com/', new_window: true) %>
      <% end %>
    </div>
  </div>a
<% end %>
