<%= render Admin::DashboardHeader::Component.new(title: "Dashboard") %>

<%= render Admin::DashboardContainer::Component.new do |container| %>
  <div class="row my-3">
    <div class="col-6">
      <%= render Admin::DashboardCard::Component.new(title: "Media") do |card| %>
        <% card.with_link(name: "Links", url: admin_links_path, policy: Link) %>
      <% end %>
    </div>

    <div class="col-6">
      <%= render Admin::DashboardCard::Component.new(title: "People") do |card| %>
        <% card.with_link(name: "Contacts", url: admin_contacts_path, policy: Contact) %>
      <% end %>
  </div>

  <div class="row">
    <div class="col-6">
      <%= render Admin::DashboardCard::Component.new(title: "Tasks") do |card| %>
        <% card.with_link(name: "Contacts", url: admin_links_path, policy: Contact) %>
      <% end %>
    </div>

    <div class="col-6">
      <%= render Admin::DashboardCard::Component.new(title: "Development") do |card| %>
        <% card.with_link(name: "Blazer", url: admin_blazer_path, new_window: true) %>
        <% card.with_link(name: "Data Logs", url: admin_data_logs_path, policy: DataLog) %>
        <% card.with_link(name: "GoodJob Dashboard", url: admin_good_job_path, new_window: true) %>
        <% card.with_link(name: "Issues (GitHub)", url: 'https://github.com/wrburgess/kc-tennis/issues', new_window: true) %>
        <% card.with_link(name: "Maintenance Tasks", url: admin_maintenance_tasks_path, new_window: true) %>
        <% card.with_link(name: "PG Hero", url: admin_pg_hero_path, new_window: true) %>
        <% card.with_link(name: "Projects (GitHub)", url: 'https://github.com/wrburgess/kc-tennis/projects', new_window: true) %>
        <% card.with_link(name: "Source Control (GitHub)", url: 'https://github.com/wrburgess/kc-tennis', new_window: true) %>
        <% card.with_link(name: "UptimeRobot: Staging", url: "https://dashboard.uptimerobot.com/monitors/798151118", new_window: true) %>
        <% card.with_link(name: "Users", url: admin_users_path, policy: User) %>
      <% end %>
    </div>
  </div>
<% end %>
