<div class="container-fluid admin devise sessions new">
  <div class="row header">
    <h2>Resend Unlock Instructions</h2>
  </div>
  <div class="row justify-content-center">
    <div class="w-25">
      <%= simple_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
        <div class="mb-3">
          <div class="form-group">
            <div class="form-floating">
              <%= f.text_field :email, class: "form-control", autocomplete: "off", required: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
              <%= f.label :email, class: "form-label" %>
            </div>
          </div>
        </div>
        <div class="mb-3">
          <%= f.button :submit, "Resend Unlock Instructions", class: "btn btn-secondary" do %>
            <i class="bi bi-check-circle"></i>
            Resend Unlock Instructions
          <% end %>
        </div>
      <% end %>
      <div class="mb-3">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
