<div
  class='<%= "container-fluid admin #{@controller.gsub('/', '-')} #{@action}" %>'
  data-controller='<%= controller_name_dasherized %>'
  data-<%= controller_name_dasherized %>-action='<%= @action %>'
>
  <%= content %>
</div>
