<%= component "page_wrapper", instance: @instance, controller: params[:controller], action: params[:action] do %>
  <div class="row header">
    <%= component "header_for_edit", instance: @instance %>
  </div>
  <%= form_with url: polymorphic_path([:admin, @instance]), method: :put do |form| %>
    <div class="row">
      <div class="col-6">
        <div class="form-floating">
          <input type="text" class="form-control" id="id" value="<%= @instance.id %>" readonly>
          <label for="id" class="form-label">ID</label>
        </div>
        <div class="form-floating">
          <input type="text" class="form-control" id="url" name="url" value="<%= @instance.name %>" required>
          <label for="url" class="form-label">URL</label>
        </div>
        <div class="form-floating">
          <%= select_tag("url_type", options_for_select(UrlTypes.all, @instance.url_type), prompt: "Select a type", class: "form-select") %>
          <label for="url_type" class="form-label">URL Type</label>
        </div>
        <div class="form-floating">
          <input type="text" class="form-control" id="video_type" name="video_type" value="<%= @instance.video_type %>" required>
          <label for="video_type" class="form-label">Video Type</label>
        </div>
        <div class="form-floating">
          <input type="text" class="form-control" id="secure_code" name="secure_code" value="<%= @instance.secure_code %>">
          <label for="secure_code" class="form-label">Secure Code</label>
        </div>
        <div class="form-floating">
          <textarea class="form-control" id="notes" name="notes" rows="2"><%= @instance.notes %></textarea>
          <label class="form-check-label" for="notes">Notes</label>
        </div>
      </div><!-- col-6 -->
      <div class="col-6">
      </div><!-- col-6 -->
    </div><!-- row -->
    <div class="row">
      <div class="form-group">
<%= component("action_button", operation: :cancel_to_show, instance: @instance, classes_append: "me-3", public: true) %>
        <button class="btn btn-success me-3">
          <i class="bi bi-check-circle"></i>
          Submit
        </button>
      </div>
    </div><!-- row -->
  <% end %>
<% end %>
