<%= render Admin::PageWrapper::Component.new(instance: @instance, controller: params[:controller], action: params[:action]) do %>

  <%= render Admin::HeaderForIndex::Component.new(instance: @instance, new_button: true, export_xlsx_button: true, show_filtering: true) %>
  
  <%= render Admin::Container::Component.new do |container| %>

    <table class="table table-striped table-hover table-sm">
      <thead>
        <tr>
          <th><%= sort_link([:admin, @q], :id, "ID") %></th>
          <th><%= sort_link([:admin, @q], :title_name, "Title") %></th>
          <th><%= sort_link([:admin, @q], :url_type, "URL Type", default_order: :asc) %></th>
          <th><%= sort_link([:admin, @q], :url, "URL", default_order: :asc) %></th>
          <th><%= sort_link([:admin, @q], :video_type, "Video Type", default_order: :asc) %></th>
          <th>Secure Code</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @instances.each do |instance| %>
          <tr>
            <th><%= instance.id %></th>
            <td>
              Stuff
            </td>
            <td><%= instance.url_type %></td>
            <td><%= link_to "active link", instance.url, target: "_blank" %></td>
            <td><%= instance.video_type %></td>
            <td><%= instance.secure_code %></td>
            <td>
              <%= render Admin::ActionButton::Component.new(operation: :show, instance: instance, button_classes: "me-3", icon_classes: :none) %>
              <%= render Admin::ActionButton::Component.new(operation: :edit, instance: instance, button_classes: :none, icon_classes: :none) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= render Admin::IndexPager::Component.new(pagy: @pagy, instance: @instance) %>

    <%= render Admin::FilterCardComponent.new do %>
      <%= simple_form_for [:admin, @q], url: polymorphic_path(:admin, @instance), html: { method: :get }, wrapper: :floating_labels_form do |f| %>
        <%= f.input :id_eq, label: "ID equals", placeholder: "ID equals" %>
        <%= f.input :url_cont, label: "URL contains", placeholder: "URL contains" %>
        <%= f.input :url_type_eq, label: "URL Type", placeholder: "URL Type", include_blank: "Any", collection: UrlTypes.all %>
        <%= f.input :archived_at_not_null, as: :boolean, label: "Archived?", wrapper: :custom_boolean_switch %>
        
        <%= render Admin::FormButton::Component.new(operation: :filter) %>

        <%= link_to 'Clear Search', request.path, class:"btn btn-link" %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
