<%= component "page_wrapper", instance: @instance, controller: params[:controller], action: params[:action] do %>
  <div class="row header">
    <%= component "header_for_index", instance: @instance, new_button: true, export_xlsx_button: true %>
  </div>
  <div class="row main">
    <div class="col-9">
      <div class="row">
        <table class="table table-striped table-hover table-sm">
          <thead>
            <tr>
              <th><%= sort_link(@q, :id, "ID") %></th>
              <th><%= sort_link(@q, :title_name, "Title") %></th>
              <th><%= sort_link(@q, :url_type, "URL Type", default_order: :asc) %></th>
              <th><%= sort_link(@q, :url, "URL", default_order: :asc) %></th>
              <th><%= sort_link(@q, :video_type, "Video Type", default_order: :asc) %></th>
              <th>Secure Code</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @instances.each do |instance| %>
              <tr>
                <th><%= instance.id %></th>
                <td>
                  <%= link_to link_to instance.try(:titles).try(:first).try(:name), title_path(instance.try(:titles).try(:first)) if instance.titles.first %>
                </td>
                <td><%= instance.url_type %></td>
                <td><%= link_to "active link", instance.url, target: "_blank" %></td>
                <td><%= instance.video_type %></td>
                <td><%= instance.secure_code %></td>
                <td>
                  <%= component "action_button", operation: :show, instance: instance, button_classes: "me-3", icon_classes: :none %>
                  <%= component "action_button", operation: :edit, instance: instance, button_classes: :none, icon_classes: :none %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="row pager">
        <%= component "index_pager", pagy: @pagy, instance: @instance %>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <div class="card-header">
          Filters
        </div>
        <div class="card-body">
          <%= search_form_for @q do |f| %>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="id_eq" name="q[id_eq]" placeholder="id_eq" value="<%= params.dig(:q, :id_eq) %>">
              <label for="q[id_eq]" class="form-label">ID</label>
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="url_cont" name="q[url_cont]" placeholder="url_cont" value="<%= params.dig(:q, :url_cont) %>">
              <label for="q[url_cont]" class="form-label">URL</label>
            </div>
            <div class="form-floating mb-3">
              <%= select_tag("q[url_type_eq]", options_for_select(UrlTypes.all, params.dig(:q, :url_type_eq)), prompt: "Select a type", class: "form-select") %>
              <label for="q[url_type_eq]" class="form-label">URL Type</label>
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="video_type_cont" name="q[video_type_cont]" placeholder="video_type_cont" value="<%= params.dig(:q, :video_type_cont) %>">
              <label for="q[video_type_cont]" class="form-label">Video Type</label>
            </div>
            <div class="form-check form-switch mb-3">
              <label class="form-check-label" for="active">Archived?</label>
              <%= check_box_tag("q[archived_at_not_null]", 1, (params.dig(:q, :archived_at_not_null) == "1"), class: "form-check-input") %>
            </div>
            <%= component "form_button", operation: :filter %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
