<%= render Admin::HeaderForEdit::Component.new(instance: @instance) %>

<%= render Admin::PageContainer::Component.new do %>
  <%= form_with url: polymorphic_path([:admin, @instance]), method: :put do |form| %>
    <div class="row">
      <div class="col-6">
        <div class="form-floating">
          <input type="text" class="form-control" id="id" value="<%= @instance.id %>" readonly>
          <label for="id" class="form-label">ID</label>
        </div>
        <div class="form-floating">
          <input type="text" class="form-control" id="first_name" name="first_name" value="<%= @instance.first_name %>" required>
          <label for="first_name" class="form-label">First Name</label>
        </div>
        <div class="form-floating">
          <input type="text" class="form-control" id="last_name" name="last_name" value="<%= @instance.last_name %>" required>
          <label for="last_name" class="form-label">Last Name</label>
        </div>
        <div class="form-floating">
          <input type="text" class="form-control" id="email" name="email" value="<%= @instance.email %>" required>
          <label for="email" class="form-label">Email Address</label>
        </div>
        <div class="form-floating">
          <input type="date" class="form-control" id="archived_at" name="archived_at" value="<%= selector_date_format(@instance.archived_at) %>">
          <label for="archived_at" class="form-label">Archived At Date</label>
        </div>
      </div><!-- col-6 -->
      <div class="col-6">
      </div><!-- col-6 -->
    </div><!-- row -->
    <div class="row">
      <div class="form-group">
        <%= render Admin::ActionButton::Component.new(operation: :cancel_to_show, instance: @instance, classes_append: "me-3", public: true) %>
        <%= render Admin::FormButton::Component.new(operation: :submit) %>
      </div>
    </div><!-- row -->
  <% end %>
<% end %>
